<div class="div-88">
    <div class="div-87">
        <img src="landing-page-assets/footer-logo-company.png" alt="no image" class="img-one">
        <img src="landing-page-assets/footer-logo-abstracy.png" alt="no image" class="img-one">
        <img src="landing-page-assets/footer-logo-aspen.png" alt="no image" class="img-one">
        <img src="landing-page-assets/footer-logo-crop.png" alt="no image" class="img-one">
        <img src="landing-page-assets/footer-logo-n.png" alt="no image" class="img-one">
        <img src="landing-page-assets/footer-logo-missy.png" alt="no image" class="img-one">
        <img src="landing-page-assets/footer-logo-peppermint.png" alt="no image" class="img-one">
        <img src="landing-page-assets/footer-logo-pixel.png" alt="no image" class="img-one">
    </div>

    <div class="div-90">
        <div class="div-89">
            <img src="assets/Website Logos.svg" alt="no image" class="img-logo">
            <p class="p-who">Who we are?</p>
            <p class="p-ticket-5">Ticketer is a global ticketing platform for live
                experiences that allows anyone to create, share,
                find and attend events that fuel their passions
                and enrich their lives.</p>
            <p class="p-contact">Contact</p>
            <p class="p-gmail">Ticketercontacts.com</p>
        </div>

        <div class="div-92">
            <div class="div-93">
                <p class="p-ticket-6">TICKETER</p>
                <p class="p-about">About Us</p>
                <p class="p-about">Contact Us</p>
                <p class="p-about">FAQs</p>
            </div>

            <div class="div-93">
                <p class="p-ticket-6">Help</p>
                <p class="p-about">Concert Ticketing</p>
                <p class="p-about">Account Support</p>
                <p class="p-about">Terms & Conditions</p>
            </div>

            <div class="div-93">
                <p class="p-ticket-6">Legal</p>
                <p class="p-about">Terms of Us</p>
                <p class="p-about">Acceptable</p>
                <p class="p-about">Privacy Policy</p>
            </div>
        </div>
    </div>

    <div class="div-94">
        <p class="p-join">Join our mailing list to stay in the loop with our..

        <div class="div-95">
            <img src="landing-page-assets/gmail.svg" alt="no image" class="img-gmail">
            <input type="text" placeholder="Enter Your email" class="input-1">
        </div>
    </div>


    <div class="div-96">
        <p class="twenr">2024 NOT FULLTIME PVT LTD</p>
        <div class="div-101">
            <p class="p-twen">Terms</p>
            <p class="p-twen">Privacy</p>
            <p class="p-twen">Coockies </p>
        </div>

        <div class="div-100">
            <a href="https://x.com/">
                <img src="choose-time/Twitter.svg" alt="no image" class="img-logo-4">

            </a>
            <a href="https://www.telegram.com/">
                <img src="choose-time/Telegram.png" alt="no image" class="img-logo-4">

            </a>
            <a href="https://www.facebook.com/">
                <img src="choose-time/facebook.svg" alt="no image" class="img-logo-4">

            </a>
        </div>

    </div>

</div>